@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f5;
}

.container {
  width: 60%;
  height: 100vh;
  margin: 3rem auto 0;
}

/* _______________________ Start Header________________ */

nav {
  width: 100%;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 7px;
  display: flex;
  margin-bottom: 2rem;
}

nav ul {
  width: 100%;
  padding: 0 0.5rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

nav ul li {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

nav ul li:nth-child(1),
nav ul li:nth-child(2),
nav ul li:nth-child(3) {
  border-right: 1px solid #e0e0e0;
  padding-right: 1rem;
}

nav ul li:nth-child(4) {
  margin-right: auto;
}

nav img {
  width: 25px;
  height: 25px;
}

/* __________________________ End Header________________________ */

/* _________________________ Start Main ________________________ */

.main__title {
  padding: 0.5rem 0;
}

hr {
  border: 1px solid #e0e0e0;
}

.main__content {
  padding: 1rem 0;
  color: #6e747f;
  line-height: 1.5;
}

.input {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  padding: 0.5rem 0;
  word-break: break-word;
  caret-color: #37352f;
  color: #222;
  cursor: text;
  position: relative;
}

.input:focus {
  outline: none;
}

[contenteditable]:empty::before {
  content: attr(placeholder);
  color: #37352f80;
}

/* ________________________ End Main_____________________________ */

/* ______________________ Start POPUP ___________________________ */

.popup {
  position: relative;
  top: 0;
  left: 0;
  width: 20rem;
  height: 15rem;
  background-color: #d6cbcb;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.popup::-webkit-scrollbar {
  width: 0.5rem;
}

.popup::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.popup::-webkit-scrollbar-thumb {
  background: #110202;
}

.popup::-webkit-scrollbar-thumb:hover {
  background: #080101;
}

.popup__header {
  padding: 1rem 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0;
}

.popup__list {
  padding: 0.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.popup__item {
  background: none;
  border: none;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.popup__item:hover,
.popup__item:focus,
.popup__item:active {
  background-color: #f5f5f5;
  outline: none;
}

.popup__item div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popup__item p {
  color: #6e747f;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

/* _____________________ End POPUP ________________ */

/* ______________________ Start Toggle Mode _____________ */

.toggle-mode {
  position: fixed;
  top: 2rem;
  right: 3rem;
}

.toggle-mode__icon {
  width: 50px;
  cursor: pointer;
  animation: fadeIn 0.5s ease-in-out;
}

.toggle-mode__icon img {
  width: 100%;
  height: 100%;
}

.sun {
  display: none;
}

/* ______________________ End Toggle Mode _____________ */

/* ____________________ Js Classes ________________ */

.h1 {
  font-size: 2rem;
  font-weight: 700;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

.h4 {
  font-size: 1.125rem;
  font-weight: 500;
}

.h5 {
  font-size: 1rem;
  font-weight: 500;
}

.h6 {
  font-size: 0.875rem;
  font-weight: 500;
}

.p {
  font-size: 1rem;
  font-weight: 400;
}

.hidden {
  display: none;
}

/* Media Screen */
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }

  .toggle-mode {
    top: 0;
    right: 0;
  }
}

/* Animation  */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
